
li, li a{
	font-size: 15pt;
	color: #000000
}

h1, h1 a{
    color: #ffffff;
    font-size: 36pt;
	font-family: 'Arial', cursive;
}

h2, h2 a{
    color: #000000;
    font-size: 19pt;
}

h3, h4, h5, h6, h3 a, h4 a, h5 a, h6 a{
	color: #000000;
	font-size: 15pt;
}

.page-header {
    background-color: #006767;
    margin-top: 0;
	margin-bottom: 0;
    padding: 1px 10px 10px 550px;
}


.page-menu {
    background-color: #b4b4b4;
    margin-top: 0;
    padding: 0px 0px 0px 0px;
}

.page-content {
	margin-top: 90px; 
    margin-left: 490px;
	margin-right: 490px;
}

.post-form textarea, .post-form input{
    width: 100%;
}

.save{
	float: right;
}

.background {
	margin-top: 0;
	padding: 10px 10px 1000px 10px;
}
